<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Welcome to ImpactDev!</title>
		<style>
			body {
				font-family: Arial, sans-serif;
				background-color: #f5f5f5;
				margin: 0;
				padding: 0;
				color: #333;
			}
			.container {
				max-width: 600px;
				margin: 0 auto;
				padding: 20px;
				background-color: #fff;
				border-radius: 8px;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			}
			.header {
				text-align: center;
				margin-bottom: 20px;
			}
			.logo {
				max-width: 100px;
				height: auto;
			}
			.message {
				font-size: 16px;
				line-height: 1.6;
			}
			.cta-button {
				display: inline-block;
				padding: 10px 20px;
				background-color: #007bff;
				color: #fff;
				text-decoration: none;
				border-radius: 4px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<h1>Welcome to ImpactDev!</h1>
			</div>
			<div class="message">
				<p>Cher
					{{ user.firstName }},</p>
				<p>Bienvenue dans la famille ImpactDev ! Votre compte est désormais prêt à être utilisé.</p>
				<p>Accédez à notre plateforme sur
					<a href="http://localhost:5173">www.impactdev.com/gestion-des-congés</a>
					pour gérer vos congés et disponibilités.</p>
				<p>Lors de votre première connexion, vous pouvez modifier le mot de passe par défaut qui est "admin".</p>
				<p>Nous sommes là pour vous aider ! Si vous avez des questions ou besoin d'assistance, contactez notre équipe de support à l'adresse e-mail suivante :</p>
				<p>
					<a href="mailto:support@impactdev.com">support@impactdev.com</a>
				</p>
				<p>Des moments passionnants vous attendent !</p>
				<p>Cordialement,</p>
				<p>L'équipe ImpactDev</p>

			</div>
		</div>
	</body>
</html>
